
  <% short ||= false %>
  <tr>
    <td>
	     <%= element.id %>
    </td>
    <td>
  <%= link_to element.name, element %>
  </td>
  <% unless short %>    <td>
  <%= User.find_by_id(element.author) ? User.find_by_id(element.author).name : '' %>
  <% end %>
  </td>
  <td>
  <%= element.category %>
  </td>
  <td>
  <% if short %>
  <%= element.tags %>
  <% else %>
    <i><%= text_field_tag "tags[]", element.tags, class: "small", size: "18" %></i>
    <%= hidden_field_tag "id[]", element.id %> 
      </td>
      <td>
    <%= submit_tag '  update  ', class: "tagbutton" %>
  <% end %>
  </td>
  <% if short and current_user.author?%>
    <td class = "f2"><%= check_box_tag("out"+element.id.to_s,"yes") if @content.match("( |\\A)#{element.id.to_s}( |\\z)")%></td>
    <td class = "f0"><%= check_box_tag("1in"+element.id.to_s,"yes") %></td>
    <td class = "f0"><%= check_box_tag("2in"+element.id.to_s,"yes") %></td>
    <td class = "f0"><%= check_box_tag("3in"+element.id.to_s,"yes") %></td>
    <td><%= f.submit 'Update', class: "tagbutton"  %><%= f.submit 'Finish', class: "tagbutton"  %></td>
    <%=  %>
  <% else %>
    <td> 
    <% if current_user.author? %>

      <%= link_to "edit", edit_element_path(element.id) %>

        <% if session[:current_item_id] %>
       
        | <%= link_to "add to item "+session[:current_item_id].to_s, :controller => "elements", :action => "add_to_item", :element=>element.id, :search=>params[:search], :sort=>params[:sort], :direction=>params[:direction] %>
        
        
        <% end %>
      <% end %>
    <% if current_user.admin?||current_user.id==element.author%>

       | <%= link_to "delete", element, method: :delete,
                                    data: { confirm: "You sure?" } %>

    <% end %>
    </td>
  <% end %>
  
    

  </tr>

