<h1>Listing groups</h1>

<table>
  <tr>
  	<th><%= sortable "id" %></th>
  	<th><%= sortable "name" %></th> 
  	<th><%= sortable "teacher" %></th> 
    <th>Tasks</th>
    <th></th>
    <th></th> 
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.id %></td>
    <td><%= group.name %></td>
    <td><%= group.teacher %></td>
    <td><%= group.task_names.join(' ') %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Assign Teachers', controller: :groups, action: :assign %>

<%= link_to 'New Group', new_group_path %>
